*{
  box-sizing: border-box;
  padding: 0px; margin: 0px; 
  background-color: rgb(231, 196, 142);
}
div{
  width: 100%; height: 100vh;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
}
button{
  padding: 15px 26px; background: rgb(186, 146, 224);
  color: antiquewhite;
  border: 3px solid rgb(19, 1, 1);
  outline: none; border-radius: 5px; text-transform: uppercase;
  cursor: pointer;

}